In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/Admin/Desktop/Miniproject/Data/finalcut_movies.csv')

In [3]:
data.shape

(47463, 14)

In [4]:
data.head()

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4
0,862,Toy Story,1995,Animation Comedy Family,English,81,12628,7.9,John Lasseter,martialarts jealousy toy friendship bullying e...,Tom Hanks,Tim Allen,Don Rickles,Jim Varney
1,8844,Jumanji,1995,Adventure Fantasy Family,English,104,7378,7.2,Joe Johnston,giantinsect boardgame jungle disappearance rec...,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce
2,15602,Grumpier Old Men,1995,Romance Comedy,English,101,203,6.6,Howard Deutch,fishing oldman bestfriend duringcreditsstinger,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren
3,31357,Waiting to Exhale,1995,Comedy Drama Romance,English,127,75,6.2,Forest Whitaker,basedonnovelorbook interracialrelationship sin...,Whitney Houston,Angela Bassett,Loretta Devine,Lela Rochon
4,11862,Father of the Bride Part II,1995,Comedy,English,106,416,6.2,Charles Shyer,parentchildrelationship baby midlifecrisis con...,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley

In [5]:
#Calculating the mean of vote avg
C = data['Vote_avg'].mean()

In [6]:
# Calculate the minimum number of votes to be considered
m = data['Vote_count'].quantile(0.75)

In [7]:
# Filtering all the movies that have vote_count more than 'm'
quali = data.copy().loc[data['Vote_count'] >= m]
quali.shape

(11869, 14)

In [9]:
# Calculating the weighted rating of each movie
def weighted_rate(v, R, m=m, C=C):
  ans = (v/(v+m) * R)+(m/(v+m) * C)
  return ans

In [10]:
quali['Score'] = quali.apply(lambda row : weighted_rate(row['Vote_count'], row['Vote_avg']), axis = 1)

In [11]:
quali = quali.sort_values('Score', ascending=False)

In [12]:
quali.head()

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4,Score
304,278,The Shawshank Redemption,1994,Drama Crime,English,142,16681,8.7,Frank Darabont,prison corruption policebrutality prisoncell d...,Tim Robbins,Morgan Freeman,Bob Gunton,Clancy Brown,8.687719
777,238,The Godfather,1972,Drama Crime,English,175,12597,8.7,Francis Ford Coppola,italy lossoflovedone loveatfirstsight italiana...,Marlon Brando,Al Pacino,James Caan,Richard S. Castellano,8.683762
9779,19404,Dilwale Dulhania Le Jayenge,1995,Comedy Drama Romance,Hindi,190,2318,8.7,Aditya Chopra,NaN,Shah Rukh Khan,Kajol,Amrish Puri,Anupam Kher,8.614101
502,424,Schindlers List,1993,Drama History War,English,195,10019,8.6,Steven Spielberg,basedonnovelorbook factory concentrationcamp h...,Liam Neeson,Ben Kingsley,Ralph Fiennes,Caroline Goodall,8.580389
1092,240,The Godfather: Part II,1974,Drama Crime,English,202,7461,8.6,Francis Ford Coppola,italy italianamerican cuba melancholy praise r...,Al Pacino,Robert Duvall,Diane Keaton,Robert De Niro,8.573735

In [13]:
conbas_df = quali[['Title','Genres','Director','actor1','actor2','actor3','actor4','Keywords']]

In [14]:
conbas_df.head()

,Title,Genres,Director,actor1,actor2,actor3,actor4,Keywords
304,The Shawshank Redemption,Drama Crime,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,Clancy Brown,prison corruption policebrutality prisoncell d...
777,The Godfather,Drama Crime,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Richard S. Castellano,italy lossoflovedone loveatfirstsight italiana...
9779,Dilwale Dulhania Le Jayenge,Comedy Drama Romance,Aditya Chopra,Shah Rukh Khan,Kajol,Amrish Puri,Anupam Kher,NaN
502,Schindlers List,Drama History War,Steven Spielberg,Liam Neeson,Ben Kingsley,Ralph Fiennes,Caroline Goodall,basedonnovelorbook factory concentrationcamp h...
1092,The Godfather: Part II,Drama Crime,Francis Ford Coppola,Al Pacino,Robert Duvall,Diane Keaton,Robert De Niro,italy italianamerican cuba melancholy praise r...

In [15]:

conbas_df['Title'] = conbas_df['Title'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['Genres'] = conbas_df['Genres'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['Director'] = conbas_df['Director'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor1'] = conbas_df['actor1'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor2'] = conbas_df['actor2'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor3'] = conbas_df['actor3'].str.replace(' ','').str.lower().str.replace('-','')
conbas_df['actor4'] = conbas_df['actor4'].str.replace(' ','').str.lower().str.replace('-','')

<ipython-input-15-9ddbbf8ee72d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['Genres'] = conbas_df['Genres'].str.replace(' ','').str.lower().str.replace('-','')
<ipython-input-15-9ddbbf8ee72d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['Director'] = conbas_df['Director'].str.replace(' ','').str.lower().str.replace('-','')
<ipython-input-15-9ddbbf8ee72d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['actor1'] = conbas_df['actor1'].str.replace(' ','').str.lower().str.replace('-','')
<ipython-input-15-9ddbbf8ee72d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['actor2'] = conbas_df['actor2'].str.replace(' ','').str.lower().str.replace('-','')
<ipython-input-15-9ddbbf8ee72d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['actor3'] = conbas_df['actor3'].str.replace(' ','').str.lower().str.replace('-','')
<ipython-input-15-9ddbbf8ee72d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['actor4'] = conbas_df['actor4'].str.replace(' ','').str.lower().str.replace('-','')

In [16]:
conbas_df['Keywords'] = conbas_df['Keywords'].replace(np.nan, 'Not Available')

<ipython-input-16-7a5cc85e2df1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['Keywords'] = conbas_df['Keywords'].replace(np.nan, 'Not Available')

In [17]:
# Making a soup, a mixture of keywords
conbas_df['soup'] = conbas_df['Keywords'] + ' ' + conbas_df['Genres'] + ' ' + conbas_df['Director'] + ' ' + conbas_df['actor1'] + ' ' + conbas_df['actor2'] + ' ' + conbas_df['actor3'] + ' ' + conbas_df['actor4']

<ipython-input-17-3870353c82bb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  conbas_df['soup'] = conbas_df['Keywords'] + ' ' + conbas_df['Genres'] + ' ' + conbas_df['Director'] + ' ' + conbas_df['actor1'] + ' ' + conbas_df['actor2'] + ' ' + conbas_df['actor3'] + ' ' + conbas_df['actor4']

In [18]:
conbas_df.head()

,Title,Genres,Director,actor1,actor2,actor3,actor4,Keywords,soup
304,The Shawshank Redemption,dramacrime,frankdarabont,timrobbins,morganfreeman,bobgunton,clancybrown,prison corruption policebrutality prisoncell d...,prison corruption policebrutality prisoncell d...
777,The Godfather,dramacrime,francisfordcoppola,marlonbrando,alpacino,jamescaan,richards.castellano,italy lossoflovedone loveatfirstsight italiana...,italy lossoflovedone loveatfirstsight italiana...
9779,Dilwale Dulhania Le Jayenge,comedydramaromance,adityachopra,shahrukhkhan,kajol,amrishpuri,anupamkher,Not Available,Not Available comedydramaromance adityachopra ...
502,Schindlers List,dramahistorywar,stevenspielberg,liamneeson,benkingsley,ralphfiennes,carolinegoodall,basedonnovelorbook factory concentrationcamp h...,basedonnovelorbook factory concentrationcamp h...
1092,The Godfather: Part II,dramacrime,francisfordcoppola,alpacino,robertduvall,dianekeaton,robertdeniro,italy italianamerican cuba melancholy praise r...,italy italianamerican cuba melancholy praise r...

In [19]:
conbas_df.columns

Index(['Title', 'Genres', 'Director', 'actor1', 'actor2', 'actor3', 'actor4',
       'Keywords', 'soup'],
      dtype='object')

In [20]:
conbas_df = conbas_df.drop(columns=['Genres', 'Director', 'actor1', 'actor2', 'actor3', 'actor4', 'Keywords'])

In [21]:
conbas_df.head()

,Title,soup
304,The Shawshank Redemption,prison corruption policebrutality prisoncell d...
777,The Godfather,italy lossoflovedone loveatfirstsight italiana...
9779,Dilwale Dulhania Le Jayenge,Not Available comedydramaromance adityachopra ...
502,Schindlers List,basedonnovelorbook factory concentrationcamp h...
1092,The Godfather: Part II,italy italianamerican cuba melancholy praise r...

In [22]:
conbas_df.shape

(11869, 2)

In [23]:
q = pd.merge(quali,conbas_df, left_on=['Title'], right_on=['Title'], how='left')

In [24]:
q = q.drop_duplicates(subset='tmdbId')

In [25]:
q.shape

(11858, 16)

In [26]:
q[q['Title'].str.contains('Scarface')]

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4,Score,soup
106,111,Scarface,1983,Action Crime Drama Thriller,English,170,7135,8.1,Brian De Palma,siblingrelationship miami florida corruption l...,Al Pacino,Steven Bauer,Michelle Pfeiffer,Mary Elizabeth Mastrantonio,8.077954,siblingrelationship miami florida corruption l...
1346,877,Scarface,1932,Action Crime Drama Thriller,English,93,270,7.6,Howard Hawks,siblingrelationship chicago usa alcohol basedo...,Paul Muni,Ann Dvorak,Karen Morley,Osgood Perkins,7.255129,siblingrelationship miami florida corruption l...

In [27]:
q[q.duplicated(['Title'])]

,tmdbId,Title,Year,Genres,Language,Runtime,Vote_count,Vote_avg,Director,Keywords,actor1,actor2,actor3,actor4,Score,soup
895,433498,Papillon,2018,Drama History Crime,English,134,986,7.5,Michael Noer,basedonnovelorbook biography remake solitaryco...,Charlie Hunnam,Rami Malek,Christopher Fairbank,Eve Hewson,7.394535,prison prisonescape jungle solitaryconfinement...
1139,648,Beauty and the Beast,1946,Drama Fantasy Romance,French,96,335,7.6,Jean Cocteau,underdog monster beauty rose daughter,Jean Marais,Josette Day,Marcel André,Mila Parély,7.309406,prince book castle rose musical princess beast...
1253,65754,The Girl with the Dragon Tattoo,2011,Thriller Crime Mystery Drama,English,158,4702,7.3,David Fincher,rape journalist basedonnovelorbook journalism ...,Daniel Craig,Rooney Mara,Christopher Plummer,Stellan Skarsgård,7.279788,rape journalist basedonnovelorbook bondage isl...
1346,877,Scarface,1932,Action Crime Drama Thriller,English,93,270,7.6,Howard Hawks,siblingrelationship chicago usa alcohol basedo...,Paul Muni,Ann Dvorak,Karen Morley,Osgood Perkins,7.255129,siblingrelationship miami florida corruption l...
1514,17529,True Grit,1969,Western Drama Adventure,English,128,435,7.4,Henry Hathaway,bountyhunter manhunt,John Wayne,Glen Campbell,Kim Darby,Jeremy Slate,7.196462,lossoflovedone basedonnovelorbook fathermurder...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12711,11535,Rollerball,2002,Action Science Fiction Thriller,English,98,283,4.0,John McTiernan,manager arena dystopia wrestling sports roller...,Chris Klein,LL Cool J,Rebecca Romijn,Naveen Andrews,4.445387,sportsteam future dystopia games rollerskating...
12714,166424,Fantastic Four,2015,Action Adventure Science Fiction,English,100,4381,4.4,Simon Kinberg,teleportation transformation telekinesis porta...,Miles Teller,Kate Mara,Michael B. Jordan,Jamie Bell,4.429061,flying siblingrelationship fire marriagepropos...
12721,791,The Fog,2005,Horror Thriller,English,100,419,4.1,Rupert Wainwright,california prophecy fire sea beach parentchild...,Tom Welling,Maggie Grace,Selma Blair,DeRay Davis,4.407817,prophecy sea beach gold smalltown beheading sw...
12733,9708,The Wicker Man,2006,Mystery Thriller Horror Drama,English,102,834,4.2,Neil LaBute,california basedonnovelorbook island airplane ...,Nicolas Cage,Ellen Burstyn,Kate Beahan,Frances Conroy,4.359194,scotland basedonnovelorbook island virgin ritu...
12750,351460,Death Note,2017,Fantasy Horror Mystery Thriller,English,101,2917,4.2,Adam Wingard,notebook basedonmanga death anime basedonanime,Nat Wolff,Lakeith Stanfield,Willem Dafoe,Margaret Qualley,4.248476,basedonmanga fantasymysterythriller shusukekan...

In [28]:
q.to_csv('Movies.csv')

In [29]:
q['soup'].head()

0    prison corruption policebrutality prisoncell d...
1    italy lossoflovedone loveatfirstsight italiana...
2    Not Available comedydramaromance adityachopra ...
3    basedonnovelorbook factory concentrationcamp h...
4    italy italianamerican cuba melancholy praise r...
Name: soup, dtype: object

In [30]:

from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(q['soup'])

In [31]:
count_matrix.shape

(11858, 38425)

In [32]:
# Compute the Cosine Similarity 
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [33]:
# Reset index of your main DataFrame and construct reverse mapping as before
q = q.reset_index()
indices = pd.Series(q.index, index=q['Title'])

In [34]:

def get_recommendations(title, cosine_sim = cosine_sim):
    idx = indices[title]  # Get the index of the movie that matches the title
    sim_scores = list(enumerate(cosine_sim[idx]))   
    #print(sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)  # Sort the movies based on the similarity scores
    #print(sim_scores)
    sim_scores = sim_scores[1:11]  # Get the scores of the 15 most similar movies
    #print(sim_scores)
    movie_indices = [i[0] for i in sim_scores]  # Get the movie indices

    movies = q.iloc[movie_indices][['Title', 'Year', 'Score','Language']]  # Getting the weighted ratings of the movies 
    # Return the top 15 most similar movies arranged by ratings
    return movies.sort_values('Score', ascending = False)

In [35]:
get_recommendations('The Dark Knight Rises')

                                   Title  Year     Score Language
12                       The Dark Knight  2008  8.392010  English
362                        Batman Begins  2005  7.691290  English
529           Batman: Under the Red Hood  2010  7.572694  English
1502           Batman: Assault on Arkham  2014  7.172202  English
1940                    Batman: Year One  2011  7.051975  English
4119    Justice League: The New Frontier  2008  6.639512  English
5256               DC Showcase: Catwoman  2011  6.474491  English
5709                          Kick-Ass 2  2013  6.394156  English
7783               Batman & Harley Quinn  2017  6.093315  English
9607  Batman v Superman: Dawn of Justice  2016  5.801490  English

In [36]:
get_recommendations('Up')

                                    Title  Year     Score Language
186                            Inside Out  2015  7.890577  English
1437                             Remember  2015  7.187774  English
3745       Ice Age: Dawn of the Dinosaurs  2009  6.691337  English
4462                          Rush Hour 2  2001  6.583549  English
4586                 Dugs Special Mission  2009  6.567681  English
5238                    Nicholas Nickleby  2002  6.476320  English
5341                               Babies  2010  6.461088   French
5782  The Imaginarium of Doctor Parnassus  2009  6.386652  English
6645                     The Last Station  2009  6.267924  English
7710                    The International  2009  6.096341  English

In [37]:
get_recommendations('Your Name')

                                               Title  Year     Score  Language
356                  The Girl Who Leapt Through Time  2006  7.694298  Japanese
991                            No Game No Life: Zero  2017  7.344127  Japanese
2134            Dragon Ball Z: The History of Trunks  1993  6.995220  Japanese
2494  Children Who Chase Lost Voices from Deep Below  2011  6.912465  Japanese
2726                                       Our Times  2015  6.872636   Chinese
3802                                     I Am a Hero  2016  6.685772  Japanese
5362                            Its a Boy Girl Thing  2006  6.457231   English
5390                 Dragon Ball: Episode of Bardock  2011  6.453094  Japanese
6071                        Voices of a Distant Star  2003  6.350589  Japanese
9064                                      Vice Versa  1988  5.906727   English

In [38]:
get_recommendations('The Place Promised in Our Early Days')

                                               Title  Year     Score  Language
5                                          Your Name  2016  8.567453  Japanese
245               Nausicaä of the Valley of the Wind  1984  7.830279  Japanese
304                             Whisper of the Heart  1995  7.761968  Japanese
338                                   The Wind Rises  2013  7.722194  Japanese
629                              The Garden of Words  2013  7.502585  Japanese
774                          Cowboy Bebop: The Movie  2001  7.432044  Japanese
1357                        5 Centimeters per Second  2007  7.216495  Japanese
2494  Children Who Chase Lost Voices from Deep Below  2011  6.912465  Japanese
6071                        Voices of a Distant Star  2003  6.350589  Japanese
7629                                       Get Smart  2008  6.098753   English

In [39]:
get_recommendations('Richie Rich')

                                     Title  Year     Score Language
1138                            Home Alone  1990  7.285986  English
1253                      Those Happy Days  2006  7.253555   French
3974                          Little Italy  2018  6.661168  English
4365        Home Alone 2: Lost in New York  1992  6.593279  English
7955             Beverly Hills Chihuahua 3  2012  6.086232  English
8543                          The Pacifier  2005  6.002221  English
9331                          Imagine That  2009  5.848078  English
9945                             Beethoven  1992  5.720543  English
10028  Diary of a Wimpy Kid: The Long Haul  2017  5.704912  English
11596                       The Shaggy Dog  2006  5.014346  English